{% extends 'sending/base.html' %}
{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ title }}</h1>
        </div>
    </div>
</section>
<section class="py-5 text-center container">
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary btn-lg" href="{% url 'sending:index' %}">Предыдущая страница</a>
</div>
</section>
{% for object in DeliveryAttempt %}
<div class="col-12 mb-5">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.attempt_status }}</p>
                <p class="card-text">{{ object.mail_server_response }}</p>
                <p class="card-text">{{ object.attempt_datetime }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
