""" БД postgres """
DATABASES_NAME=
DATABASES_USER=
DATABASES_PASSWORD=
""" Ключ """
SECRET_KEY=
""" Кеш """
CACHES_ENABLED=
CACHES_LOCATION=
"""Обработка ошибок"""
DEBUG=
""" Почтовый сервер """
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=