{% extends 'sending/base.html' %}
{% block content %}
<section class="py-5 text-center container">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Регистрация</h4>
    </div>
    <div class="card-body">
        <form method="post" action="" class="form-floating">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-block btn-outline-success">Регистрация</button>
        </form>
    </div>
</section>
{% endblock %}